---
layout: default
---
{% for post in paginator.posts %}
	<div id="post">
	{% case post.layout %}
	{% when 'link' %}
	<div class="entry-type"><a href="{{ post.url }}"><i class="icon icon-long-arrow-right" style="text-decoration: none; font-size: 1.4em; line-height: 35.2px;"></i></a></div>
	<div class="entry-content">
	<div class="contentpost"><div class="contentpost__linkline"><a href="{{ post.meta }}">{{ post.title }}</a></div></div>
	{% when 'photo' %}
	<div class="entry-type"><a href="{{ post.url }}"><img src="/images/photo.gif" alt="Photograph"></a></div>
	<div class="entry-content">
	<p ><img src="/assets/{{ post.meta }}" style="max-width: 100%;"></p>
	{% when 'youtube' %}
	<div class="entry-type"><a href="{{ post.url }}"><img src="/images/video.gif" alt="Video"></a></div>
	<div class="entry-content">
	<object><param name="movie" value="http://www.youtube.com/v/{{ post.meta }}&amp;rel=0&amp;egm=0&amp;showinfo=0&amp;fs=1"></param><param name="wmode" value="transparent"></param><param name="allowFullScreen" value="true"></param><embed src="http://www.youtube.com/v/{{ post.meta }}&amp;rel=0&amp;egm=0&amp;showinfo=0&amp;fs=1" type="application/x-shockwave-flash" width="{{ post.width }}" height="{{ post.height }}" allowFullScreen="true" wmode="transparent"></embed></object>
	{% when 'quote' %}
	<div class="entry-content"><div class="contentpost"><div class="contentpost__articlecontent post-content">
	<blockquote>“{{ post.quote }}”</blockquote>
	<p class="cite">— {{ post.source }}</p></div></div>
	{% else %}
	<div class="contentpost"><div class="contentpost__listline"><a href="{{ post.url }}">{{ post.title }}</a></div></div>
	<div class="entry-content">
	{% endcase %}
	{{ post.content | rename_footnote_link: post.url }}
	</div>
	</div>
{% endfor %}
	<div id="pagenav">
		<div class="inside">
			{% if paginator.previous_page == 1 %}
			<a id="forward" href="/">Anterograde&nbsp;&rarr;</a>
			{% elsif paginator.previous_page %}
			<a id="forward" href="/page{{ paginator.previous_page }}">Anterograde&nbsp;&rarr;</a>
			{% endif %}
			 <span id="pages"><a class="permalink" href="/archive.html">Page {{ paginator.page }} of {{ paginator.total_pages }}</a></span>
			{% if paginator.next_page %}
			<a id="back" href="/page{{ paginator.next_page }}" >&larr;&nbsp;Retrograde</a>
			{% endif %}
		</div>
	</div>