---
layout: null
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <title>Jesse Read</title>
    <meta name="description" content="{{meta_description}}" />
    <meta content="The musings of a rather nerdy sith lord." name="description" />
    <meta content="Jesse Read" name="title" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="google-site-verification" content="FZUHNO8oymKMA55ICUX5ceoBKdPu905KlHa1m1uFCyA" />
    <link rel="shortcut icon" href="/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css" />
    <link rel="stylesheet" type="text/css" media="only screen" href="/assets/css/main.css" />
    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Andada+Pro:400,400italic,700,700italic&display=swap' rel='stylesheet' type='text/css'>
    {% feed_meta %}
    {% if page.url == "/404.html" %}<link rel="stylesheet" type="text/css" href="/assets/css/glitch.css" />{% endif %}
</head>
<body class="home-template">
<header class="sidebar" id="site-head">
    <div id="site-head-content" class="sidebar__inner">
        <section class="sidebar__information">
		<h1 class="sidebar__information__title"><a class="link-unstyled" href="/">jesse read</a> <a href="/">@darthnerdus</a></h1>
	    <h2 class="sidebar__information__description">the musing of a rather nerdy sith lord</h2>
            <div class="sidebar__information__footer"><a href="/archive.html">the archive</a><br /><a href="/books.html">the book reviews</a></div>
        </section>

    </div>
</header>
<main class="contentlist" role="main">
    <section class="contentlist__inner">
    {{ content }}

        <footer class="footer site-footer">
		<a class="subscribe icons-feed" href="{{ site.url }}{{ site.baseurl }}/feed.xml">Feed</a>
            <div class="inner">
		    <section class="copyright">&copy; {{ site.time | date: '%Y' }} Jesse Read</section>
            </div>
        </footer>
    </section>
</main>
<link rel="stylesheet" type="text/css" href="/assets/css/bigfoot-default.css" />
<script type="text/javascript" src="/assets/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/assets/js/bigfoot.min.js"></script>
<script type="text/javascript">
    $.bigfoot();
</script>
{% include analytics.html %}
</body>
</html>
