---
layout: default
---
	<div id="post">
	<div class="contentpost"><div class="contentpost__headline">{{ page.title }}</a></div>
	<div class="entry-content"><div class="contentpost__articlecontent post-content">
	{{ content }}
	</div></div></div></div>
	</div>
	<div id="pagenav">
	<div class="inside">
		{% if page.next %}
		<a id="forward" href="{{ page.next.url }}" title="View {{ page.next.title }}">Anterograde&nbsp;&rarr;</a>
		{% endif %}
		<span id="pages"><a class="permalink" href="/archive.html">{{ page.date | date: "%B %d, %Y" }}</a></span>
		{% if page.previous %}
		<a id="back" href="{{ page.previous.url }}" title="View {{ page.previous.title }}">&larr;&nbsp;Retrograde</a>
		{% endif %}
	</div>
	</div>
